<% if (title) { %>
    <h1>
        <%= title %>
    </h1>
    <% } else { res.redirect('/') } %>

        <%- messages() %>
            <% if (errors) { %>
                <ul class="notice">
                    <% errors.array().forEach(error=> { %>
                        <li>
                            <%= error.msg %>
                        </li>
                        <% }) %>
                </ul>
                <% } %>

                    <div class="message-nav">
                        <a href="/message">Back to Inbox</a>
                    </div>

                    <% if (messagesList.length> 0) { %>
                        <table class="message-table">
                            <thead>
                                <tr>
                                    <th>Status</th>
                                    <th>From</th>
                                    <th>Subject</th>
                                    <th>Date</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% messagesList.forEach(msg=> { %>
                                    <tr>
                                        <td>
                                            <%= msg.message_read ? "Read" : "Unread" %>
                                        </td>
                                        <td>
                                            <%= msg.account_firstname %>
                                                <%= msg.account_lastname %>
                                        </td>
                                        <td>
                                            <%= msg.message_subject %>
                                        </td>
                                        <td>
                                            <%= new Date(msg.message_created).toLocaleString() %>
                                        </td>
                                        <td>
                                            <a href="/message/view/<%= msg.message_id %>">View</a>
                                        </td>
                                    </tr>
                                    <% }) %>
                            </tbody>
                        </table>
                        <% } else { %>
                            <p>You don't have any archived messages</p>
                            <% } %>