<% if (title) { %>
    <h1>
        <%= title %>
    </h1>
    <% } else { res.redirect('/') } %>

        <%- messages() %>
            <% if (errors) { %>
                <ul class="notice">
                    <% errors.array().forEach(error=> { %>
                        <li>
                            <%= error.msg %>
                        </li>
                        <% }) %>
                </ul>
                <% } %>

                    <!-- Login Form -->
                    <form action="/message/send" method="post" class="message-form">
                        <label for="message_to">Recipient:</label>
                        <select name="message_to" id="message_to" required>
                            <% recipients.forEach(user=> { %>
                                <option value="<%= user.account_id %>" <% if (locals.message_to==user.account_id) { %>
                                    selected <% } %>>
                                        <%= user.account_firstname %>
                                            <%= user.account_lastname %>
                                </option>
                                <% }) %>
                        </select>

                        <label for="message_subject">Subject:</label>
                        <input type="text" id="message_subject" name="message_subject" required
                            value="<%= locals.message_subject %>">

                        <label for="message_body">Message:</label>
                        <textarea id="message_body" name="message_body" required><%= locals.message_body %></textarea>

                        <p>* All fields are required</p>
                        <button type="submit">Send Message</button>
                    </form>
                    <noscript>JavaScript must be enabled to use this page.</noscript>